<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />

  <param name="thruster_interface/thrusters_connected" type="bool" value="true" />

  <node name="thruster_interface" pkg="thruster_interface" type="thruster_interface_node.py" output="screen" />
</launch>
